<html>
  <head>
    <meta charset="utf-8" />
    <title>Boat Management System</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  </head>
  <body>
    {% if session %}
        <h1>Welcome {{session.userinfo.name}}!</h1>
        <a href="/auth0/logout" class="login-button">Logout</a>
        <pre class="json-container">{{pretty}}</pre>
    {% else %}
        <h1>Welcome Guest</h1>
        <a href="/auth0/login" class="login-button">Login</a>
    {% endif %}
  </body>
  <footer>© 2023 Prince Emmanuel</footer>
</html>
